.Container-wrapper {
  display: flex;
  height: 500px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.Container-dropdown {
  width: 300px;
}

.Container-type {
  background-color: antiquewhite;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.Container-type-tittle {
  color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.Container-type-content {
  color: blueviolet;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.Container-type-content--show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
