.Container-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Container-dropdown {
  width: 100%;
}

.Container-type {
  background-color: #eae5de;
  margin-bottom: 5px;
  padding: 5px 10px;
}

.Container-type-tittle {
  color: #7e3a42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
}

.Container-type-content {
  max-height: 0;
  overflow: hidden;
  flex-grow: 1;
}

.Container-type-content--show {
  border-top: 2px solid;
  padding-top: 10px;
  max-height: 800px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.icon {
  fill: #7e3a42;
  width: 0.8rem;
  height: 0.8rem;
}

.Container-clean-filters {
  font-size: 1.2rem;
  text-decoration: underline;
  margin: 0 0 0.5rem 0.5rem;
  cursor: pointer;
}

.Container-clean-filters:hover {
  color: #f98223;
}
