.section-dogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-gap: 15px;
}

.section-pagination {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  font-size: 1.2rem;
}

.dogs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 620px) {
  .dogs {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 930px) {
  .dogs {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1240px) {
  .dogs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
